<% const newUrl = full_url_for(page.target.path) %>

<h1>Page address was changed</h1>
<p>The new page address is <a href="<%= newUrl %>"><%= newUrl %></a></p>

<script type="text/javascript">
  setTimeout(function () {
    //document.location.href = '<%= newUrl %>';
    location.replace('<%= newUrl %>');
  }, 5000);
</script>
